.callout {
    background-color: #eee;
    padding: 25px;
    margin-top: 20px;
}

.blockquote {
    border-left: solid 3px rgb(78, 132, 233);
    padding-left: 25px;
}

h2 {
    font-size: 200%;
    margin-top: 30px;
}

h3 {
    font-size: 150%;
    margin-top: 15px;
}

h2, h3, h4 {
    color: rgb(78, 132, 233);
}

h4 {
    font-style: italic;
}

.alert {
    margin: 25px;
    padding: 15px;
}

.alert-secondary {
    background-color: #eee;
}

.alert-info {
    background-color: lightblue;
}

.break {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  
  }