.callout {
    background-color: #eee;
    padding: 25px;
    margin-top: 20px;
}

.blockquote {
    border-left: solid 3px rgb(78, 132, 233);
    padding-left: 25px;
}

h3, h4 {
    color: rgb(78, 132, 233);
}

h4 {
    font-style: italic;
}